*
!.gitignore
!README.adoc
!CHANGELOG.adoc
!index.html
!package.json
!pnpm-lock.yaml
!dprint.jsonc
!assets/
!assets/**
!scripts/
!scripts/**
!news/
!news/posts/
!news/posts/**
!news/index.html
!news/*.html
!news/feed.xml
!CNAME
!.github/
!.github/**
